#newCourseButton, #closePopupButton, #firstLoginButton, .attendCourse, #loginButton, #logoutButton {
  .btn;
}

header {
	padding-left: 0.625em;
	padding-right: 0.625em;
	background: -prefix-linear-gradient(top, #54b4eb,#2fa4e7);
	background: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), to(#2fa4e7));
	background: -moz-linear-gradient(top, #54b4eb,#2fa4e7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#54b4eb, endColorstr=#2fa4e7);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#54b4eb, endColorstr=#2fa4e7)";
	border-bottom: 0.06em solid #ddd;
	h1 {
		margin-top: 0px;
    color: white;
	}
  h3 {
    color: white;
  }
	#login {
    margin-top: 0.31em;
		float: right;
    color: white;
    a:not(#logoutButton) {
      color: white;
    }
	}
}

#content {
  padding-left: 0.625em;
	padding-right: 0.625em;
  text-align: center;
  #courseList {
    text-align: left;
    list-style-type: none;
  }
  #loginButton {
    margin-top: 1.25em;
  }
  input[type="checkbox"] {
    float: none;
    margin-top: -0.1875em;
  }
  #chart_options {
    text-align: left;
    margin-top: 0.625em;
  }
  #firstLoginButton {
    margin-top: 1em;
  }
}

#newCourseButton {
  margin-left: auto;
  margin-right: auto;
}

#newCourseModal {
  header {
    .modal-header;
  }
}
.spinner {
  padding-top: 2em;
}
#courseSearchForm {
  margin: 0em;
  padding: 0em;
  div {
    margin-top: 0.625em;
  }
}

#courseNameSearch {
  width: 12.5em;
}

#searchResults {
  list-style-type: none;
  margin-left: 0em;
  li {
    margin-top: 0.125em;
    button {
    position: relative;
      top: -2px;
      margin-right: 0.31em;
    }
  }
}

.oneDeadline {
  margin: 0.0625em 0.188em 0.125em 0.188em;
  padding: 0.625em;
  border-style: dashed;
  border-width: 2px;
  border-color: #CCCCCC;
  border-radius: 0.313em;
}

#courseAssignments {
  margin: 0em;
}

.dlButtons {
  float: right;
  width: auto;
  margin: auto;
}

.workloadText { 
  width: 2em; 
  height: 0.125em; 
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1,1);
  -o-transform: scale(1,1);
  
}

.highlightCheckbox { 
  -webkit-transform: scale(2.6,2.6);
  -moz-transform: scale(2.6,2.6);
  -o-transform: scale(2.6,2.6);
  
}

.highligtText {
  margin-right: 0.625em;
  margin-left: 1.25em;
}

.modal, .modal.fade.in {
  width: 20em;
  margin-left: -10em;
  top: 0;
}

body {
  ul {
    margin: 0.25em;
  }
}

input[type="radio"], input[type="checkbox"] {
  line-height: normal;
  margin: 0em;
}

input[type="number"] {
  margin-bottom: 0em;

}

textarea.deadlineDescription {
  height: 5.625em;
  width: 16.875em;
}

.undoneDeadline {background: #A9E2F3}
.doneDeadline {background: #00FF99}

#assignmentDates {
  list-style-type: none;
}