#newCourseButton, #closePopupButton, #firstLoginButton, .attendCourse, #loginButton, #logoutButton {
  .btn;
}

header {
	padding-left: 10px;
	padding-right: 10px;
	background: -prefix-linear-gradient(top, #54b4eb,#2fa4e7);
	background: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), to(#2fa4e7));
	background: -moz-linear-gradient(top, #54b4eb,#2fa4e7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#54b4eb, endColorstr=#2fa4e7);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#54b4eb, endColorstr=#2fa4e7)";
	border-bottom: 1px solid #ddd;
	h1 {
		margin-top: 0px;
    color: white;
	}
  h3 {
    color: white;
  }
	#login {
    margin-top: 5px;
		float: right;
    color: white;
    a:not(#logoutButton) {
      color: white;
    }
	}
}

#content {
  padding-left: 10px;
	padding-right: 10px;
  text-align: center;
  #courseList {
    text-align: left;
    list-style-type: none;
  }
  #loginButton {
    margin-top: 20px;
  }
  input[type="checkbox"] {
    float: none;
    margin-top: -3px;
  }
  #chart_options {
    text-align: left;
    margin-top: 10px;
  }
  #firstLoginButton {
    margin-top: 15px;
  }
}

#newCourseButton {
  margin-left: auto;
  margin-right: auto;
}

#newCourseModal {
  header {
    .modal-header;
  }
}
.spinner {
  padding-top: 30px;
}
#courseSearchForm {
  margin: 0px;
  padding: 0px;
  div {
    margin-top: 10px;
  }
}

#courseNameSearch {
  width: 200px;
}

#searchResults {
  list-style-type: none;
  margin-left: 0px;
  li {
    margin-top: 2px;
    button {
    position: relative;
      top: -2px;
      margin-right: 5px;
    }
  }
}

.oneDeadline {
  margin: 1px 3px 2px 3px;
  padding: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: #CCCCCC;
  border-radius: 5px;
}

#courseAssignments {
  margin: 0px;
}

.dlButtons {
  float: right;
  width: auto;
  margin: auto;
}

.workloadText { 
  width: 30px; 
  height: 2px; 
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1,1);
  -o-transform: scale(1,1);
  
}

.highlightCheckbox { 
  -webkit-transform: scale(2.6,2.6);
  -moz-transform: scale(1.6,1.6);
  -o-transform: scale(2.6,2.6);
  padding-bottom: -4px;
  
}

.highligtText {
  margin-right: 10px;
  margin-left: 20px;
}

body .modal {
  width: 320px;
  margin-left: -160px;
}

body {
  ul {
    margin: 4px;
  }
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
}

input[type="number"] {
  margin-bottom: 0;

}

.oneDeadline:nth-child(even) {background: #A9E2F3}
.oneDeadline:nth-child(odd) {background: #81DAF5}
