{% load templatetag_handlebars %}
{% tplhandlebars "deadline_tmpl" %}

<div id="oneCourse">
{{#done}}
  <div class="oneDeadline doneDeadline">
    <div class="dlButtons">  
      DONE! <button class="trashButton">Trash</button>
{{else}}
   <div class="oneDeadline undoneDeadline">
     <div class="dlButtons">
      <button class="doneButton">Done</button> <button class="trashButton">Trash</button>
{{/done}}
    </div>
    {{deadline.customDate}}: <br>
    {{deadline.courseName}}<br>
    {{deadline.title}}
  </div>
</div>
{% endtplhandlebars %}
