{% load templatetag_handlebars %}
{% tplhandlebars "deadline_tmpl" %}

<div id="oneCourse">
  <div class="oneDeadline {{#done}}doneDeadline{{else}}undoneDeadline{{/done}}">
    <div class="dlButtons">
      {{#done}}
      DONE! <button class="undoButton btn">Undo</button> 
      {{else}}
      <button class="doneButton btn">Done</button> 
      {{/done}}
      <button class="trashButton btn">Trash</button>
    </div>
    {{deadline.localeTimeString}}: <br>
    {{deadline.courseName}}<br>
    {{deadline.title}}
  </div>
</div>
{% endtplhandlebars %}
