{% load templatetag_handlebars %}
{% tplhandlebars "edit_deadlines_tmpl" %}
        
     <!-- modal -->
       <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">{{deadline.attributes.title}}</h3>
         </div>
        <div class="modal-body">
        <form class="settings" action="{% url 'Course.views.signup' %}" method="post">{% csrf_token %}
          <div class="control-group">
          Course Name: {{attributes.noppa_course.attributes.name}} <br>
          Deadline Date: {{deadline.attributes.deadline}}<br>
            <textarea rows="4" cols="3" placeholder="{{deadline.attributes.content}}" class="" name="notifyEmail"></textarea>
          </div>
          

            <span class="highligtText">Workload:</span> <input type="text" placeholder="1" class="workloadText" name="workload">

            <span class="highligtText">Highlight:</span>  <input type="checkbox" class="highlightCheckbox" name="highlight" value="highlight"> 

            <input type="hidden" name="settings" value="True">
    

          </form>
        
        
          <p>{{deadline.attributes.serverModel.attributes.highlight}}</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="btn btn-primary">Save changes</button>
        </div>
      </div>

{% endtplhandlebars %}
