{% load templatetag_handlebars %}
{% tplhandlebars "edit_deadlines_tmpl" %}
        
     <!-- modal -->
       <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">{{deadline.attributes.title}}</h3>
         </div>
        <div class="modal-body">
        <form class="settings" action="" method="post">{% csrf_token %}
          <div class="control-group">
            <p><b>Course Name:</b> {{deadline.attributes.course.attributes.name}} </p>
            <p><b>Deadline Date:</b> {{deadline.attributes.deadline}}</p>
            <p><b>Description:</b> {{deadline.attributes.content}}</p>
          </div>
            <span class="highligtText">Workload:</span> <input type="number" min="0" max="99" class="workloadText" name="workload" value="{{savedAssignment.attributes.workload}}">
            <span class="highligtText">Highlight:</span> <input type="checkbox" class="highlightCheckbox" name="highlight" value="true" {{#savedAssignment.attributes.highlight}}checked{{/savedAssignment.attributes.highlight}}> 
            <input type="hidden" name="settings" value="True">
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="btn btn-primary save_deadline">Save changes</button>
        </div>
      </div>

{% endtplhandlebars %}
