{% load templatetag_handlebars %}
{% tplhandlebars "landscape_tmpl" %}
  <h2>Upcoming assignments</h2>
  <div id="content">
  <div id="chart_options">
		<p>Select the workload presentation
		<select id="myList">
			<option>Weekly</option>  
			<option>Timeline</option>
			<option>Continuous</option>
		</select></p>
		<p>Select the workload presentation
		<select id="rangeSelectionList">
			<option value=7>Week</option>
			<option value=30>Month</option>
			<option value=90>3 Months</option>
			<option value=365>Year</option>
		</select></p>
	</div>
   
    <div id="chart_div"></div>
    <div id="chart_holder" style="width: 100%; overflow:auto"> <div id="info"></div></div>
  </div>

{% endtplhandlebars %}
