{% extends "base.html" %}
{% block title %}Course Deadlines{% endblock %}

{% block header %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawLineChart);
	          var data;
	  
	  function drawChart() {
	  	var mylist=document.getElementById("myList");
	    var selectedValue = mylist.options[mylist.selectedIndex].text;
		var rangeSelectionList=document.getElementById("rangeSelectionList");
	    var selectedDate = rangeSelectionList.options[rangeSelectionList.selectedIndex].text;
		if (selectedValue == 'Continuous'){
			this.drawLineChart(selectedDate, false);
		}
		else {
			this.drawColumnChart(selectedDate, false);
		}
		

		
		}
	  
	  function drawSameChart() {
	  	var mylist=document.getElementById("myList");
	    var selectedValue = mylist.options[mylist.selectedIndex].text;
		var rangeSelectionList=document.getElementById("rangeSelectionList");
	    var selectedDate = rangeSelectionList.options[rangeSelectionList.selectedIndex].text;
		if (selectedValue == 'Continuous'){
			this.drawLineChart(selectedDate, true);
		}
		else {
			this.drawColumnChart(selectedDate, true);
		}
		
		var rangeSelectionList=document.getElementById("rangeSelectionList");
	    var selectedDate = rangeSelectionList.options[rangeSelectionList.selectedIndex].text;
		
		}
	  
      function drawLineChart(dateRange, useOldData) {	  
		var mylist=document.getElementById("myList");
		console.log('mylist is: ' + mylist);
		
		if(!useOldData){
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'date');
        data.addColumn('number', 'tfy-3.1253');
        data.addColumn('number', 'mat-125.4254');
        data.addColumn('number', 't-106.1200');
        data.addColumn('number', 'tik.kand');
        var counter = 0;
        dateCounter = 1;
        monthCounter = 3;
		var alphaCounter = 0;
		var betaCounter = 0;
		var gammaCounter = 0;
		var deltaCounter = 0;
        for(var i = 0; i< 30; i++){
          courseSelector = Math.floor((Math.random()*4)+1);
          counter++;
          dateCounter = dateCounter+ Math.floor((Math.random()*4)+1);
          switch(courseSelector){
            case 1:
			    alphaCounter++;
                data.addRows([[new Date(2013, monthCounter, dateCounter), alphaCounter, betaCounter, gammaCounter, deltaCounter]]);
                console.log('case 1');
			    break;
            case 2:
                betaCounter++;
			    data.addRows([[new Date(2013, monthCounter, dateCounter), alphaCounter, betaCounter, gammaCounter, deltaCounter]]);
                console.log('case 2');
			    break;
            case 3: 
                gammaCounter++;
			    data.addRows([[new Date(2013, monthCounter, dateCounter), alphaCounter, betaCounter, gammaCounter, deltaCounter]]);
                console.log('case 3');
			    break;
            case 4:
                deltaCounter++;
			    data.addRows([[new Date(2013, monthCounter, dateCounter), alphaCounter, betaCounter, gammaCounter, deltaCounter]]);
			    console.log('case 4');
			    break;
          }

        if(dateCounter>30){
			dateCounter = dateCounter -30;
			monthCounter++;
        }
        console.log('month counter: ' + monthCounter + 'date counter: '+dateCounter + 'counter' + counter);
        }
		}
		var today = New Date();
		var nextRange = new Date(today.getDate()+30);
        var options = {
			title: 'Course Work Load',
			isStacked: true,
			displayAnnotations: true,
			hAxis: {
				viewWindowMode: 'explicit',
				viewWindow: {
					min: today,
                    max: nextRange
					}
				}
        };
	
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
		}
		
		
		
		/*
		* Draws a column Chart
		*/
		
		function drawColumnChart(dateRange, useOldData) {
		var mylist=document.getElementById("myList");
		console.log('mylist is: ' + mylist);
		
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'week');
        data.addColumn('number', 'tfy-3.1253');
        data.addColumn('number', 'mat-125.4254');
        data.addColumn('number', 't-106.1200');
        data.addColumn('number', 'tik.kand');
        dateCounter = 1;
        monthCounter = 3;
		var alphaCounter = 0;
		var betaCounter = 0;
		var gammaCounter = 0;
		var deltaCounter = 0;
		var previousWeek = 0;
        for(var i = 0; i< 30; i++){
			courseSelector = Math.floor((Math.random()*4)+1);
			dateCounter = dateCounter+ Math.floor((Math.random()*4)+1);
			var date = new Date(2013, monthCounter, dateCounter);
			var week = date.getWeek();
			if (week > previousWeek){
				previousWeek = week;
				var alphaCounter = 0;
				var betaCounter = 0;
				var gammaCounter = 0;
				var deltaCounter = 0;
			}
        switch(courseSelector){
            case 1:
			  alphaCounter++;
              data.addRows([[week , alphaCounter, betaCounter, gammaCounter, deltaCounter]]);
              console.log('case 1');
			  break;
            case 2:
              betaCounter++;
			  data.addRows([[week, alphaCounter, betaCounter, gammaCounter, deltaCounter]]);
              console.log('case 2');
			  break;
            case 3: 
              gammaCounter++;
			  data.addRows([[week, alphaCounter, betaCounter, gammaCounter, deltaCounter]]);
              console.log('case 3');
			  break;
            case 4:
              deltaCounter++;
			  data.addRows([[week, alphaCounter, betaCounter, gammaCounter, deltaCounter]]);
			  console.log('case 4');
			  break;
        }

        if(dateCounter>30){
          dateCounter = dateCounter -30;
          monthCounter++;
        }
        }
		

        var options = {
          title: 'Course Work Load',
		  isStacked: true,
          displayAnnotations: true
        };
	
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
}

	Date.prototype.getWeek = function() {
		var onejan = new Date(this.getFullYear(),0,1);
		return Math.ceil((((this - onejan) / 86400000) + onejan.getDay()+1)/7);
	}
    </script>
{% endblock %}
{% block content %}
  <header>
  {% if user.is_authenticated %}
  <div id="login">
    <a href="{% url 'Course.views.settings' %}">{{ user.email }}</a>
    <a id="logoutButton" href="/logout">Logout</a>
  </div>
  {% endif %}
    <h1>Course Deadlines</h1>
    <nav>
    </nav>
  </header>
  <div id="content">
  <form>
		<p>Select the workload presentation
		<select id="myList" onchange="drawChart()">
			<option>Continuous</option>
			<option>Weekly</option>  
		</select></p>
		<p>Select the workload presentation
		<select id="rangeSelectionList" onchange="drawSameChart()">
			<option>Week</option>
			<option>Month</option>
			<option>3 Months</option>
			<option>Year</option>
		</select></p>
	</form>
   
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </div>
{% endblock %}