{% extends "base.html" %}
{% block title %}Login to CourseDeadlines{% endblock %}

{% block content %}
  <header>
    {% if user.is_authenticated %}
    <div id="login">
      {{ user.email }}
      <a href="/logout">Logout</a>
    </div>
    {% endif %}
    <h1>Course Deadlines</h1>
    <nav>
    </nav>
  </header>
<!-- form giving the possibility to add email -->
<h2>Email for notifications</h2>
<p>Provide an email for notifications. If left blank, your Gmail address will be used</p>

<form class="first_login" action="{% url 'Course.views.signup' %}" method="post">{% csrf_token %}
    <div class="control-group">
        <input type="text" placeholder="{{ email }}" name="notifyEmail">
    </div>
    <!--
    <div class="btn-group" data-toggle="buttons-checkbox">
        <button type="button" name="notifications-b" value="Allow" class="btn btn-primary">Allow notifications</button>
    </div>
    -->
    <label class="checkbox">
      <input type="checkbox" name="notifications" value="Allow"> Allow email notifications
    </label>

    <button id="firstLoginButton" type="submit">OK</button>
    

</form>

{% endblock %}
