<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Course Deadlines</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{{ STATIC_URL }}js/destroyCache.js"></script>
  <link href="{{ STATIC_URL }}less/bootstrap/bootstrap.less" rel="stylesheet/less">

  <script src="{{ STATIC_URL }}js/plugins/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/json2.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-relational.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-tastypie.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/handlebars.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/less.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/bootstrap.min.js"></script>

  <script src="{{ STATIC_URL }}js/models.js"></script>
  <script src="{{ STATIC_URL }}js/views.js"></script>
  <script src="{{ STATIC_URL }}js/app.js"></script>
  
</head>
<body>
  {% include "js_templates/course_list.html" %}
  {% include "js_templates/course_search_list.html" %}
  <header>
    <h1>Course Deadlines</h1>
    <nav>
    </nav>
  </header>
  <h2>Courses I'm taking</h2>
  <ul id="courseList">
  </ul>
  <aside>
    Other info
  </aside>
  <a href="#newCourseModal" role="button" class="btn" data-toggle="modal">Add course</a>
  <div id="newCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <header>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add new course</h3>
    </header>
    <div class="modal-body">
      <input type="search" id="courseNameSearch" name="name" list="courseDatalist"/>
      <datalist id="courseDatalist">
      </datalist>
      <ul id="searchResults">
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</body>
</html>