{% extends "base.html" %}
{% block title %}Course Deadlines{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    <script src="{{ STATIC_URL }}js/app.js"></script>
  {% endif %}

  {% include "js_templates/course_list.html" %}
  {% include "js_templates/course_search_list.html" %}
  {% include "js_templates/landscape.html" %}
  {% include "js_templates/portrait.html" %}
  {% include "js_templates/edit_deadline_view.html" %}
  {% include "js_templates/deadline.html" %}
  <header>
  {% if user.is_authenticated %}
  <div id="login">
    <a href="{% url 'Course.views.settings' %}">{{ user.email }}</a>
    <a id="logoutButton" href="/logout">Logout</a>
  </div>
  {% endif %}
    <h1>Course Deadlines</h1>
    <nav>
    </nav>
  </header>
  <div id="content">
  <div id="porlanscape"></div>
  
  {% if user.is_authenticated %}
  <a href="#newCourseModal" id="newCourseButton" role="button" data-toggle="modal">Add course</a>
  </div>
  <div id="newCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <header>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Add new course</h3>
      <form id="courseSearchForm" class="form-search">
        <div class="input-append">
          <input type="search" class="search-query" id="courseNameSearch" placeholder="Search" list="courseDatalist">
          <button type="submit"><i class="icon-search"></i></button>
        </div>
      </form>
      <datalist id="courseDatalist">
      </datalist>
    </header>
    <div class="modal-body">
      <ul id="searchResults">
      </ul>
    </div>
    <div class="modal-footer">
      <button id="closePopupButton" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
  {% else %}
  <a id="loginButton" href="/openid/login">Login using Google</a>
  </div>
  {% endif %}
  <div id="editDeadlineModal"></div>
{% endblock %}