<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Course Deadlines</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{{ STATIC_URL }}js/destroyCache.js"></script>
  <link href="{{ STATIC_URL }}less/bootstrap/bootstrap.less" rel="stylesheet/less">

  <script src="{{ STATIC_URL }}js/plugins/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-relational.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-tastypie.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/handlebars.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/less.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/bootstrap.min.js"></script>

  <script src="{{ STATIC_URL }}js/models.js"></script>
  <script src="{{ STATIC_URL }}js/views.js"></script>
  <script src="{{ STATIC_URL }}js/app.js"></script>
  
</head>
<body>
  {% include "js_templates/course_list.html" %}
  <header>
    <h1>Course Deadlines</h1>
    <nav>
    </nav>
  </header>
  <h2>Courses</h2>
  <div id="courseList">
  </div>
  <aside>
    Other info
  </aside>
</body>
</html>