{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
  <header>
    {% if user.is_authenticated %}
    <div id="login">
        <a href="{% url 'Course.views.settings' %}">{{ user.email }}</a>
        <a id="logoutButton" href="/logout">Logout</a>
    </div>
    {% endif %}
    <h1>Course Deadlines - Settings</h1>
    <nav>
    </nav>
  </header>

<div id="content">
<h2>Settings</h2>
<p>Change your notification email here</p>

<form class="settings" action="{% url 'Course.views.signup' %}" method="post">{% csrf_token %}
    <div class="control-group">
        <input type="text" placeholder="{{ user.get_profile.notify_email }}" name="notifyEmail">
    </div>

    <label class="checkbox">
      <input type="checkbox" name="notifications" value="Allow" {% if user.get_profile.notifications %} checked {% endif %}> Allow email notifications
    </label>
     <input type="hidden" name="settings" value="True">
    <button id="firstLoginButton" type="submit">OK</button>
    

</form>
</div>
{% endblock %}